:host {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
}

.paginator__label {
  padding-right: 16px;
}

.paginator__status {
  margin: 0 48px;
}

:host ::ng-deep .mat-select {
  width: auto;
}

:host ::ng-deep .mat-select-trigger {
  background-color: #f8f9fa;
  border-radius: 4px;
  padding: 16px 8px;
}

:host ::ng-deep .mat-select-value {
  max-width: none;
  padding-right: 32px;
}
