<label class="paginator__label">
  <ng-content select="[paginator-label]"></ng-content>
</label>

<mat-select
  [value]="perPage"
  (selectionChange)="updatePerPage($event)"
>
  <ng-container *ngFor="let perPageOption of perPageOptions">
    <mat-option [value]="perPageOption">
      {{ perPageOption }}
    </mat-option>
  </ng-container>
</mat-select>

<div class="paginator__status">
  <ng-content select="[paginator-status]"></ng-content>
</div>

<div class="paginator__arrows">
  <button mat-icon-button
    [disabled]="firstIndexOfPreviousPage === null"
    (click)="goToPreviousPage()"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>

  <button mat-icon-button
    [disabled]="firstIndexOfNextPage === null"
    (click)="goToNextPage()"
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
